/library/
/temp/
/local/
/build/
npm-debug.log
node_modules/
*.log
*.sql
*.sqlite
*.sln
*.csproj
*.pidb
*.unityproj
*.suo
.DS_Store
ehthumbs.db
Thumbs.db
.idea/
.vscode/

*.obj
**/Release.win32/
**/Debug.win32/
**/libcocos2dx/build/
**/publish/
**/.externalNativeBuild/ndkBuild/
**/output/
**/temp/
**/build/
**/*.iml
*.pyc
*.ipch
**/.vs/
**/obj/
*.pdb

jsb-default/assets/
jsb-default/src/
jsb-default/main.js

wechatgame/
web-desktop/
minigame/**/project/
PngMap.json
